/01 Getting Started/
/02 JavaScript Refresher/
/03 React Basics & Working With Components/005 The Starting Project.html
/03 React Basics & Working With Components/021 Module Resources.html
/03 React Basics - Working With Components/005 The Starting Project.html
/03 React Basics - Working With Components/021 Module Resources.html
/03 React Basics - Working With Components/Section Image/
/04 React State - Working with Events/017 Module Resources.html
/04 React State - Working with Events/006 State can be updated in many ways!.html
/04 React State - Working with Events/Section Image/
/05 Rendering Lists - Conditional Content/010 Fixing a Small Bug.html
/05 Rendering Lists - Conditional Content/011 Module Resources.html
/05 Rendering Lists - Conditional Content/Section Image/
/07 Debugging React Apps/
/08 Time to Practice_ A Complete Practice Project/
/09 Diving Deeper_ Working with Fragments, Portals & _Refs_/
/10 Advanced_ Handling Side Effects, Using Reducers & Using the Context API/
/11 Practice Project_ Building a Food Order App/
/12 A Look Behind The Scenes Of React & Optimization Techniques/
/13 An Alternative Way Of Building Components_ Class-based Components/
/14 Sending Http Requests (e.g. Connecting to a Database)/
/15 Building Custom React Hooks/
/16 Working with Forms & User Input/
/17 Practice Project_ Adding Http & Forms To The Food Order App/
/18 Diving into Redux (An Alternative To The Context API)/
/19 Advanced Redux/
/20 Building a Multi-Page SPA with React Router/
/21 Deploying React Apps/
/22 Adding Authentication To React Apps/
/23 A (Pretty Deep Dive) Introduction to Next.js/
/24 Animating React Apps/
/25 Replacing Redux with React Hooks/
/26 Testing React Apps (Unit Tests)/
/27 React + TypeScript/
/28 Optional_ React Hooks Introduction & Summary/
/29 Optional_ React Summary & Core Feature Walkthrough/
/30 Course Roundup/
/31 This Course Got Updated!/
/0. Websites you may like/
/12 A Look Behind The Scenes Of React - Optimization Techniques/
/17 Practice Project_ Adding Http - Forms To The Food Order App/
/28 Optional_ React Hooks Introduction - Summary/
/09 Diving Deeper_ Working with Fragments, Portals - _Refs_/
*.png
*.mp4
*.srt
*.txt
*.zip
*.pdf
/06 Styling React Components/Practical application code on lectures topics/
/06 Styling React Components/009 Module Resources.html
